<div class="jumbotron">
    <h1 class="display-3">Fall 2019 Course Offerings</h1>
    <p class="lead">There are a variety of machine learning related courses are offered at Duke across a variety of departments.
       The following list includes courses being offered this semester have been of interest to students interested in machine learning.
    </p>
 </div>
 <div class="grid-container">
    <div>
       <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
             Electrical Engineering
             <span class="badge badge-primary badge-pill">4</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
             Computer Science
             <span class="badge badge-primary badge-pill">3</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
             Statistics
             <span class="badge badge-primary badge-pill">1</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
             Mathematics
             <span class="badge badge-primary badge-pill">4</span>
          </li>
       </ul>
       <div class="form-group">
          <div class="custom-control custom-checkbox">
             <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
             <label class="custom-control-label" for="customCheck1">
                Undergraduate</label>
          </div>
          <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck2" disabled="">
          <label class="custom-control-label" for="customCheck2">Graduate</label>
          </div>
       </div>
    </div>
    <div class="grid-container">
       <div class="card text-white bg-light mb-3" style="max-width: 20rem;">
          <div class="card-header">Electrical and Computer Engineering</div>
          <div class="card-body">
             <h4 class="card-title">671: Graduate Machine Learning</h4>
             <p class="card-text">Dr. Cynthia Rudin, TTH 10:05-11:20 AM</p>
          </div>
       </div>
       <div class="card text-white bg-light mb-3" style="max-width: 20rem;">
          <div class="card-header">Computer Science</div>
          <div class="card-body">
             <h4 class="card-title">570: Introduction to Artifical Intelligence</h4>
             <p class="card-text">Dr. Vincent Conitzer, TH 10:05-11:20 AM</p>
          </div>
       </div>
       <div class="card text-white bg-light mb-3" style="max-width: 20rem;">
          <div class="card-header">Electrical & Computer Engineering</div>
          <div class="card-body">
             <h4 class="card-title">590: Computer Engineering ML & Deep Neural Networks</h4>
             <p class="card-text">Dr. Hai Li, TTH 10:05-11:20 AM</p>
          </div>
       </div>
       <div class="card text-white bg-light mb-3" style="max-width: 20rem;">
          <div class="card-header">Electrical & Computer Engineering</div>
          <div class="card-body">
             <h4 class="card-title">690: Intro to Deep Learning</h4>
             <p class="card-text">Dr. Vahid Tarokh, MW 10:05-11:20 AM</p>
          </div>
       </div>
       <div class="card text-white bg-light mb-3" style="max-width: 20rem;">
          <div class="card-header">Electrical & Computer Engineering</div>
          <div class="card-body">
             <h4 class="card-title">588: Image and Video Processing</h4>
             <p class="card-text">Dr. Guillermo Sapiro, F 8:30-11:30 AM</p>
          </div>
       </div>
       <div class="card text-white bg-light mb-3" style="max-width: 20rem;">
          <div class="card-header">Mathematics</div>
          <div class="card-body">
             <h4 class="card-title">541: Applied Stochastic Processes</h4>
             <p class="card-text">Dr. Tau Shean Lim, TTH 4:40-5:55 PM</p>
          </div>
       </div>
       <div class="card text-white bg-light mb-3" style="max-width: 20rem;">
          <div class="card-header">Mathematics</div>
          <div class="card-body">
             <h4 class="card-title">790: Deep Learning</h4>
             <p class="card-text">Dr. David Banks, M 5:15-8:00 PM</p>
          </div>
       </div>
       <div class="card text-white bg-light mb-3" style="max-width: 20rem;">
          <div class="card-header">Mathematics</div>
          <div class="card-body">
             <h4 class="card-title">766: Math of Machine Learning</h4>
             <p class="card-text">Dr. Yitzchak Solomon, TTH 10:05-11:20 AM</p>
          </div>
       </div>
       <div class="card text-white bg-light mb-3" style="max-width: 20rem;">
          <div class="card-header">Statistics</div>
          <div class="card-body">
             <h4 class="card-title">325: Machine Learning & Data Mining</h4>
             <p class="card-text">Dr. Simon Mak, MW 1:25-2:40 PM</p>
          </div>
       </div>
       <div class="card text-white bg-light mb-3" style="max-width: 20rem;">
          <div class="card-header">Mathematics</div>
          <div class="card-body">
             <h4 class="card-title">221: Linear Algebra & Applications</h4>
             <p class="card-text">Dr. Ezra Miller, TTH 1:25-2:40 PM</p>
          </div>
       </div>
       <div class="card text-white bg-light mb-3" style="max-width: 20rem;">
          <div class="card-header">Computer Science</div>
          <div class="card-body">
             <h4 class="card-title">371: Elements of Machine Learning</h4>
             <p class="card-text">Dr. Carlo Tomasi, TTH 10:05-11:20 PM</p>
          </div>
       </div>
       <div class="card text-white bg-light mb-3" style="max-width: 20rem;">
          <div class="card-header">Computer Science</div>
          <div class="card-body">
             <h4 class="card-title">260: Intro to Computational Genomics</h4>
             <p class="card-text">Dr. Alexander Hartemink, TTH 1:25-2:40 PM</p>
          </div>
       </div>
    </div>
 </div>